ul {
  padding-left: 0px;
}

li {
  list-style: none;
}

ul.pills li {
  display: inline-block;
  margin-right: 1rem;
  margin-top: 1rem;
  .remove {
    margin-left: 0.5rem;
  }

  button {
    padding: 0.25rem 0.75rem;
  }
}

ul.autocomplete li {
  cursor: pointer;
  &.considering {
    background-color: #7e69c6;
  }
}

.tag-box input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
}
