li {
  list-style: none;
}

ul.pills li {
  display: inline;
  margin-right: 1rem;
  .remove {
    margin-left: 0.5rem;
  }
}

ul.autocomplete li {
  cursor: pointer;
  &.considering {
    background-color: #7e69c6;
  }
}
